<div class="row"> 
    <div class="col-12 col-md-8"> 
        <h2>Login</h2> 
        <form (ngSubmit)="onLoginSubmit()"> 
            <div role="alert" *ngIf="formErrors" class="alert alert-danger">{{ formError }}</div> 
            <div class="form-group"> 
                <label for="email">Email Address</label> 
            <input type="email" class="form-control" formControlName="email" name="txtEmail" id="txtEmail" required /> 
            </div> 
            <div class="form-group"> 
                <label for="password">Password</label> 
                <input type="password" class="form-control" formControlName="password" name="txtPassword" id="txtPassword" required />
            </div> 
            <button type="submit" role="button" class="btn btn-primary">Sign In!</button> 
        </form> 
    </div> 
</div> 